<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    span.cls_004 {
      font-family: Courier New, serif;
      font-size: 19.6px;
      color: rgb(254, 253, 254);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    div.cls_004 {
      font-family: Courier New, serif;
      font-size: 19.6px;
      color: rgb(254, 253, 254);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    span.cls_005 {
      font-family: Courier New, serif;
      font-size: 14.1px;
      color: rgb(254, 253, 254);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    div.cls_005 {
      font-family: Courier New, serif;
      font-size: 14.1px;
      color: rgb(254, 253, 254);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    span.cls_003 {
      font-family: Courier New, serif;
      font-size: 12.1px;
      color: rgb(143, 35, 40);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    div.cls_003 {
      font-family: Courier New, serif;
      font-size: 12.1px;
      color: rgb(143, 35, 40);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    span.cls_002 {
      font-family: Courier New, serif;
      font-size: 10px;
      color: rgb(254, 253, 254);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    div.cls_002 {
      font-family: Courier New, serif;
      font-size: 8.6px;
      color: rgb(254, 253, 254);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    span.cls_006 {
      font-family: "Book Antiqua", serif;
      font-size: 12px;
      color: rgb(43, 41, 41);
      font-weight: bold;
      font-style: normal;
      text-decoration: none;
    }

    div.cls_006 {
      font-family: "Book Antiqua", serif;
      font-size: 8.6px;
      color: rgb(43, 41, 41);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    span.cls_009 {
      font-family: "Book Antiqua", serif;
      font-size: 7px;
      color: rgb(217, 217, 218);
      font-weight: normal;
      font-style: normal;
      text-decoration: underline;
    }

    div.cls_009 {
      font-family: "Book Antiqua", serif;
      font-size: 7px;
      color: rgb(217, 217, 218);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    span.cls_007 {
      font-family: "Book Antiqua", serif;
      font-size: 10px;
      color: rgb(217, 217, 218);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    div.cls_007 {
      font-family: "Book Antiqua", serif;
      font-size: 10px;
      color: rgb(217, 217, 218);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    span.cls_010 {
      font-family: Times, serif;
      font-size: 9px;
      color: rgb(43, 41, 41);
      font-weight: bold;
      font-style: normal;
      text-decoration: none;
    }

    div.cls_010 {
      font-family: Times, serif;
      font-size: 7px;
      color: rgb(43, 41, 41);
      font-weight: bold;
      font-style: normal;
      text-decoration: none;
    }

    span.cls_011 {
      font-family: Times, serif;
      font-size: 9px;
      color: rgb(43, 41, 41);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    div.cls_011 {
      font-family: Times, serif;
      font-size: 7px;
      color: rgb(43, 41, 41);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    span.cls_012 {
      font-family: Times, serif;
      font-size: 8.1px;
      color: rgb(254, 253, 254);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    div.cls_012 {
      font-family: Times, serif;
      font-size: 8.1px;
      color: rgb(254, 253, 254);
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }

    .spanLine {
      font-size: 10.5px;
      display: inline-block;
      border-bottom: 1px solid black;
      vertical-align: middle;
      line-height: 2px;
      width: 10px;

      height: 9px;
      margin-top: 0px;
      margin-left: -4.35px;
      text-align: center;
      font-weight: bold;
    }

    .spanBox {
      font-size: 8px;
      text-align: center;
      display: inline-block;
      border: 1px solid #444;
      vertical-align: middle;
      line-height: 9px;
      width: 15px;
      height: 15px;
      margin-top: -19px;
      margin-left: -1px;
      margin-top: 2px;
      margin-top: -4px;
      padding-top: 2px;
    }
  </style>
  <script type="text/javascript"
    src="9850924a-f75f-11eb-a980-0cc47a792c0a_id_9850924a-f75f-11eb-a980-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>

<body>
  <button id="download" onclick="plzDown()">Download Form</button>
  <div id="invoice" style="height: 4350px">
    <div style="
          position: absolute;
          left: 43%;
          margin-left: -297px;
          top: 0px;
          width: 720px;

          height: 1040px;
          border-style: outset;
          overflow: hidden;
        ">
      <div style="position: absolute; left: 0px; top: 0px"></div>
      <div style="position: absolute; top: 5.08px" class="cls_004">
        <img src="/aditya_birla/background1.jpg" width="100%" alt="" srcset="" />
      </div>
      <div style="position: absolute; left: 28.79px; top: 18.7px" class="cls_003">
        <span class="cls_003" style="color: white"><b>Health Insurance</b></span><br />
        <span style="font-size: 10px; color: white">Aditya Birla Health Insurance Co. Limited</span>
      </div>

      <div style="position: absolute; left: 18.79px; top: 90px" class="cls_003">
        <span class="cls_003">Activ Care - Policy Part - C (Revised)</span>
      </div>
      <div style="position: absolute; left: 32.18px; top: 115.42px" class="cls_002">
        <span class="cls_002" style="font-weight: bold">Details of the third party administrator/ insurer/
          hospital:</span>
      </div>
      <div style="height: 12px; background: #ff8e8e; margin-top: 116px"></div>
      <div style="position: absolute; left: 43.43px; top: 136.89px" class="cls_006">
        <span class="cls_006">a) Name of TPA/lnsurance company:
          <span class="spanLine cls_008" style="width: 430px; padding-left: 10px"><span class="cls_006">Aditya Birla
              Health Insurance</span></span></span>
      </div>
      <div style="position: absolute; left: 43.43px; top: 155.87px" class="cls_006">
        <span class="cls_006">b) Toll free phone number:
          <span class="spanLine cls_008" style="width: 180px; padding-left: 10px"><span class="cls_006">
              <%-hospitalDetailsDoctorDetailsContactNumberCountryCode + hospitalDetailsDoctorDetailsContactNumber%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 385.82px; top: 155.87px" class="cls_006">
        <span class="cls_006">c) Toll free fax:</span>
      </div>
      <div style="position: absolute; left: 476.72px; top: 161.87px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine cls_008" style="width: 199px; padding-left: 10px"></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 174.84px" class="cls_006">
        <span class="cls_006">d) Name of Hospital:
          <span class="spanLine cls_008" style="width: 516px; padding-left: 10px"><span class="cls_006">
              <%-hospitalDetailsName%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 193.82px" class="cls_006">
        <span class="cls_006">i) Address:
          <span class="spanLine cls_008" style="width: 571px; padding-left: 10px"><span class="cls_006">
              <%-fullAddress%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 88.61px; top: 216.79px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine cls_008" style="width: 587px; padding-left: 10px"></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 231.77px" class="cls_006">
        <span class="cls_006">ii) Rohini ID:
          <span class="spanLine cls_008" style="width: 556px; padding-left: 10px"><span class="cls_006">
              <%-hospitalDetailsRohiniId%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 250.74px" class="cls_006">
        <span class="cls_006">iii) Email ID:
          <span class="spanLine cls_008" style="width: 558px; padding-left: 10px"><span class="cls_006">
              <%-hospitalDetailsEmail%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 32.17px; top: 289.12px" class="cls_002">
        <span class="cls_002" style="font-weight: bold">To be filled by insured/patient:</span>
      </div>
      <div style="height: 12px; background: #ff8e8e; margin-top: 160px"></div>
      <div style="position: absolute; left: 43.42px; top: 308.6px" class="cls_006">
        <span class="cls_006">a) Name of the Patient:
          <span class="spanLine cls_008" style="width: 510px; padding-left: 10px"><span class="cls_006">
              <%-patientDetailsName%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 327.57px" class="cls_006">
        <span class="cls_006">b) Gender:</span>
      </div>
      <div style="position: absolute; left: 105.69px; top: 327.57px" class="cls_006">
        <% if(patientDetailsGender.toUpperCase()==='MALE' ){ %>
          <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
          <span class="cls_006">Male</span>
          <span class="spanBox"></span>
          <span class="cls_006">Female</span>
          <span class="spanBox"></span>
          <span class="cls_006">Third Gender</span>
          <%} else if(patientDetailsGender.toUpperCase()==='FEMALE' ){%>
            <span class="spanBox"></span>
            <span class="cls_006">Male</span>
            <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
            <span class="cls_006">Female</span>
            <span class="spanBox"></span>
            <span class="cls_006">Third Gender</span>
            <%}else{%>
              <span class="spanBox"></span>
              <span class="cls_006">Male</span>
              <span class="spanBox"></span>
              <span class="cls_006">Female</span>
              <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
              <span class="cls_006">Third Gender</span>
              <%}%>

      </div>
      <div style="position: absolute; left: 317.38px; top: 327.57px" class="cls_006">
        <span class="cls_006">c) Age: </span>
        <span class="spanLine" style="width: 90px; margin-right: 20px"><span class="cls_006" style="margin-left: 20px">
            <%-patientDetailsAgeYear%>
          </span></span>
      </div>
      <div style="position: absolute; left: 463.84px; top: 327.57px" class="cls_006">
        <span class="cls_006">d) Date of Birth:</span>
        <%-patientDetailsDateOfBirth%>

      </div>

      <div style="position: absolute; left: 43.42px; top: 350.55px" class="cls_006">
        <span class="cls_006">e) Contact number:
          <span class="spanLine cls_008" style="width: 180px; padding-left: 10px"><span class="cls_006"></span>
            <%-patientDetailsContactNumberCountryCode%>
              <%-patientDetailsContactNumber%>
          </span></span>
        f) Contact number of attending Relative:
        <span class="spanLine cls_008" style="width: 129px; padding-left: 10px"><span class="cls_006">
            <%-patientDetailsContactNumberRelativeContactNumberCountryCode%>
              <%-patientDetailsContactNumberRelativeContactNumber%>
          </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 375.52px" class="cls_006">
        <span class="cls_006">g) lnsured Card ID number:
          <span class="spanLine cls_008" style="width: 480px; padding-left: 10px"><span class="cls_006">
              <%-patientDetailsHealthId%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 395.49px" class="cls_006">
        <span class="cls_006">h) Policy number/Name of Corporate:
          <span class="spanLine cls_008" style="width: 430px; padding-left: 10px"><span class="cls_006">
              <%-patientDetailsPolicyNumber%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 420.47px" class="cls_006">
        <span class="cls_006">i) Employee ID:
          <span class="spanLine cls_008" style="width: 548px; padding-left: 10px">
            <span class="cls_006">
              <%-patientDetailsEmployeeId%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 441.44px" class="cls_006">
        <span class="cls_006">j)</span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 441.44px" class="cls_006">
        <span class="cls_006">Currently do you have any other mediclaim /health insurance:</span>
      </div>
      <div style="position: absolute; left: 420.36px; top: 441.44px" class="cls_006">
        <% if(patientDetailsHealthInsuranceChecked){%>
          <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
          <span class="cls_006">Yes</span>
          <span class="spanBox"></span>
          <span class="cls_006">No</span>
          <% }else{ %>
            <span class="spanBox"></span>
            <span class="cls_006">Yes</span>
            <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
            <span class="cls_006">No</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 56.17px; top: 460px" class="cls_006">
        <span class="cls_006">i. Company Name:
          <span class="spanLine cls_008" style="width: 520px; padding-left: 10px"><span class="cls_006">
              <%-patientDetailsHealthInsuranceCompanyName%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 490px" class="cls_006">
        <span class="cls_006">ii. Give Details:
          <span class="spanLine cls_008" style="width: 453px; padding-left: 10px"><span class="cls_006">
              <%-patientDetailsHealthInsuranceDetails%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 520px" class="cls_006">
        <span class="cls_006">k) Do you have a family Physician:</span>
      </div>
      <div style="position: absolute; left: 280.32px; top: 520px" class="cls_006">
        <% if(patientDetailsPhysicianChecked){%>
          <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
          <span class="cls_006">Yes</span>
          <span class="spanBox"></span>
          <span class="cls_006">No</span>
          <% }else {%>
            <span class="spanBox"></span>
            <span class="cls_006">Yes</span>
            <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
            <span class="cls_006">No</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 43.42px; top: 550px" class="cls_006">
        <span class="cls_006">l)</span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 550px" class="cls_006">
        <span class="cls_006">Name of the Family Physician:
          <span class="spanLine cls_008" style="width: 455px; padding-left: 10px"><span class="cls_006">
              <%-patientDetailsPhysicianName%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 580px" class="cls_006">
        <span class="cls_006">m) Contact number, if any:
          <span class="spanLine cls_008" style="width: 489px; padding-left: 10px"><span class="cls_006">
              <%-patientDetailsPhysicianContactNumberCountryCode%>
                <%-patientDetailsPhysicianContactNumber%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 610px" class="cls_006">
        <span class="cls_006">n) Current Address of lnsured patient:
          <span class="spanLine cls_008" style="width: 426px; padding-left: 10px"><span class="cls_006">
              <%-patientDetailsCurrentAddressBuildingNumber%>
                <%-patientDetailsCurrentAddressArea%>
                  <%-patientDetailsCurrentAddressLandmark%>
                    <%-patientDetailsCurrentAddressCity%>
                      <%-patientDetailsCurrentAddressState%>
                        <%-patientDetailsCurrentAddressCountry%>
                          <%-patientDetailsCurrentAddressPinCode%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 640px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine cls_008" style="width: 626px; padding-left: 10px"></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 670px" class="cls_006">
        <span class="cls_006">o) Occupation of Insured patient:
          <span class="spanLine cls_008" style="width: 454px; padding-left: 10px"><span class="cls_006">
              <%-patientDetailsOccupation%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 291.68px; top: 700px" class="cls_006">
        <span class="cls_006">(please complete declaration of this form)</span>
      </div>
      <div style="position: absolute; left: 32.17px; top: 730px" class="cls_002">
        <span class="cls_002" style="font-weight: bold">To be filled by treating doctor/hospital</span>
      </div>
      <div style="height: 13px; background: #ff8e8e; margin-top: 430px"></div>
      <div style="position: absolute; left: 43.42px; top: 756px" class="cls_006">
        <span class="cls_006">a) Name of the treating Doctor:
          <span class="spanLine" style="width: 450px"><span class="cls_006" style="margin-left: 20px">
              <%-hospitalDetailsDoctorDetailsName%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 781px" class="cls_006">
        <span class="cls_006">b) Contact number:
          <span class="spanLine" style="width: 514px"><span class="cls_006" style="margin-left: 20px">
              <%- hospitalDetailsDoctorDetailsContactNumberCountryCode + hospitalDetailsDoctorDetailsContactNumber%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 806px" class="cls_006">
        <span class="cls_006">c) Nature of lllness/Disease with presenting complaint:
          <span class="spanLine" style="width: 320px"><span class="cls_006" style="margin-left: 20px">
              <%-patientDetailsNatureOfIllness%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 834px" class="cls_006">
        <span class="cls_006">d) Relevant Critical Findings:
          <span class="spanLine" style="width: 460px">
            <span class="cls_006" style="margin-left: 20px">
              <%-patientDetailsReleventClinicChecked%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 862px" class="cls_006">
        <span class="cls_006">e) Duration of the present ailment:</span>
      </div>
      <div style="position: absolute; left: 245.15px; top: 862px" class="cls_006">
        <span class="cls_006"><span class="spanLine" style="width: 393px"><span class="cls_006"
              style="margin-left: 20px">
              <%-patientDetailsDurationOfPresentAilments%>
            </span></span>
          Days</span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 887px" class="cls_006">
        <span class="cls_006">i) Date of First consultation</span>
      </div>
      <div style="position: absolute; left: 223.42px; top: 887px" class="cls_007">
        <span class="cls_006">
          <%-patientDetailsDateOfFirstConsultation%>

        </span>
      </div>

      <div style="position: absolute; left: 56.17px; top: 911px" class="cls_006">
        <span class="cls_006">ii) Past history of present ailment, if any</span>
      </div>
      <div style="position: absolute; left: 290.47px; top: 911px" class="cls_006">
        <span class="cls_006"><span class="spanLine" style="width: 378px; margin-top: 3px"><span class="cls_006">

              <%-patientDetailsPastHistoryOfPresentAilments%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 940px" class="cls_006">
        <span class="cls_006">f) Provisional diagnosis:
          <span class="spanLine" style="width: 490px"><span class="cls_006">&nbsp;&nbsp;&nbsp;
              <%-patientDetailsProvisionDiagnosis%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 970px" class="cls_006">
        <span class="cls_006">i) ICD l0 code
          <span class="spanLine" style="width: 537px"><span class="cls_006">&nbsp;&nbsp; <%-patientDetailsIcdCode%>
            </span></span></span>
      </div>
    </div>

    <div style="
          position: absolute;
          left: 43%;
          margin-left: -297px;
          top: 1120px;
          width: 720px;
          height: 1040px;
          border-style: outset;
          overflow: hidden;
        ">
      <div style="position: absolute; left: 0px; top: 0px"></div>

      <div style="position: absolute; left: 43.43px; top: 26.06px" class="cls_006">
        <span class="cls_006">g) Proposed line of treatment:</span>
      </div>
      <div style="position: absolute; left: 56.18px; top: 45.04px" class="cls_006">
        <span class="cls_006">i) Medical Management</span>
      </div>
      <div style="position: absolute; left: 230.18px; top: 45.04px" class="cls_006">
        <% if(patientDetailsProposedLineOfTreatment.includes('Medical Management')){ %>
          <span class="cls_006">(<img height="9px" src="/tick.png" width="9px" />)</span>
          <% }else{ %>
            <span class="cls_006">(&nbsp;&nbsp;)</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 56.18px; top: 64.01px" class="cls_006">
        <span class="cls_006">ii) Surgical Management</span>
      </div>
      <div style="position: absolute; left: 230.18px; top: 64.01px" class="cls_006">
        <% if(patientDetailsProposedLineOfTreatment.includes('Surgical Management')){ %>
          <span class="cls_006">(<img height="9px" src="/tick.png" width="9px" />)</span>
          <% }else {%>
            <span class="cls_006">(&nbsp;&nbsp;)</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 56.18px; top: 82.99px" class="cls_006">
        <span class="cls_006">iii Intensive care</span>
      </div>
      <div style="position: absolute; left: 230.17px; top: 82.99px" class="cls_006">
        <% if(patientDetailsProposedLineOfTreatment.includes('Intensive Care')){ %>
          <span class="cls_006">(<img height="9px" src="/tick.png" width="9px" />)</span>
          <% }else {%>
            <span class="cls_006">(&nbsp;&nbsp;)</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 56.17px; top: 101.96px" class="cls_006">
        <span class="cls_006">iv) Investigation</span>
      </div>
      <div style="position: absolute; left: 230.17px; top: 101.96px" class="cls_006">
        <% if(patientDetailsProposedLineOfTreatment.includes('Investigation')){ %>
          <span class="cls_006">(<img height="9px" src="/tick.png" width="9px" />)</span>
          <% }else {%>
            <span class="cls_006">(&nbsp;&nbsp;)</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 56.17px; top: 120.94px" class="cls_006">
        <span class="cls_006">v) Non-allopathic treatment</span>
      </div>
      <div style="position: absolute; left: 230.17px; top: 120.94px" class="cls_006">
        <% if(patientDetailsProposedLineOfTreatment.includes('Non Allopatic Treatment')){ %>
          <span class="cls_006">(<img height="9px" src="/tick.png" width="9px" />)</span>
          <% }else {%>
            <span class="cls_006">(&nbsp;&nbsp;)</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 43.42px; top: 139.91px" class="cls_006">
        <span class="cls_006">h) If investigation and,/or Medical Management, provide details
          <span class="spanLine" style="width: 280px">
            <span class="cls_006">
              &nbsp;&nbsp;&nbsp; <%- patientDetailsIfInvestigationOrMedicalManagement%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 158.88px" class="cls_006">
        <span class="cls_006">i) Route of Drug Administration
          <span class="spanLine" style="width: 443px">
            <span class="cls_006">
              &nbsp;&nbsp;&nbsp;
              <%-patientDetailsRouteOfDrugAdministration%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 177.86px" class="cls_006">
        <span class="cls_006">I) lf surgical, name of surgery
          <span class="spanLine" style="width: 471px">
            <span class="cls_006">
              &nbsp;&nbsp;&nbsp;
              <%-patientDetailsSurgicalNameofSurgery%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 196.83px" class="cls_006">
        <span class="cls_006">i. ICD l0 PCS code
          <span class="spanLine" style="width: 520px">
            <span class="cls_006">
              &nbsp;&nbsp;&nbsp;

              <%-patientDetailsIcdCode10Pcs%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 215.81px" class="cls_006">
        <span class="cls_006">J) If other treatment, provide details
          <span class="spanLine" style="width: 438px">
            <span class="cls_006">
              &nbsp;&nbsp;&nbsp;
              <%-patientDetailsIfOtherTreatment%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 234.78px" class="cls_006">
        <span class="cls_006">K) How did injury occur
          <span class="spanLine" style="width: 501px">
            <span class="cls_006">
              &nbsp;&nbsp;&nbsp;
              <%-patientDetailsReleventClinicInjuryOccur%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 253.76px" class="cls_006">
        <span class="cls_006">L) ln case of accident </span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 272.73px" class="cls_006">
        <span class="cls_006">i) Is it RTA:</span>
      </div>
      <div style="position: absolute; left: 192.17px; top: 272.73px" class="cls_006">
        <% if(patientDetailsReleventClinicAccidentInCaseOfAccidentChecked) {%>
          <span class="spanBox"> <img height="9px" src="/tick.png" width="9px" /> </span>
          <span class="cls_006">yes</span>
          <span class="spanBox"></span>
          <span class="cls_006">No</span>
          <%} else {%>
            <span class="spanBox"></span>
            <span class="cls_006">yes</span>
            <span class="spanBox"> <img height="9px" src="/tick.png" width="9px" /> </span>
            <span class="cls_006">No</span>
            <%} %>
      </div>
      <div style="position: absolute; left: 56.17px; top: 291.7px" class="cls_006">
        <span class="cls_006">ii) Date of lnjury:</span>
      </div>
      <div style="position: absolute; left: 190.6px; top: 290.35px" class="cls_007">
        <span class="cls_006">
          <%-patientDetailsReleventClinicAccidentInCaseOfAccidentDateOfInjury%>
        </span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 310.68px" class="cls_006">
        <span class="cls_006">iii) Report to Police</span>
      </div>
      <div style="position: absolute; left: 192.17px; top: 310.68px" class="cls_006">
        <% if(patientDetailsReleventClinicAccidentInCaseOfAccidentReportedToPoliceChecked) {%>
          <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
          <span class="cls_006">yes</span>
          <span class="spanBox"></span>
          <span class="cls_006">No</span>
          <% }else{ %>
            <span class="spanBox"></span>
            <span class="cls_006">yes</span>
            <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
            <span class="cls_006">No</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 56.17px; top: 329.65px" class="cls_006">
        <span class="cls_006">iv) FIR NO</span>
      </div>
      <div style="position: absolute; left: 340.17px; top: 329.65px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 200px">
            <% if(patientDetailsReleventClinicAccidentInCaseOfAccidentReportedToPoliceChecked){ %>
              <span class="cls_006">&nbsp;&nbsp;&nbsp;
                <%-patientDetailsReleventClinicAccidentInCaseOfAccidentReportedToPoliceFirNumber%>
              </span>
              <% } %>
          </span></span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 348.63px" class="cls_006">
        <span class="cls_006">v) Injury /Disease caused due to substance abuse/alcohol
          consumption</span>
      </div>
      <div style="position: absolute; left: 470.67px; top: 348.63px" class="cls_006">
        <% if(patientDetailsReleventClinicAccidentAlcoholConsumption) {%>
          <span class="spanBox">
            <img height="9px" src="/tick.png" width="9px" />
          </span>
          <span class="cls_006">Yes</span>
          <span class="spanBox"></span>
          <span class="cls_006">No</span>
          <%} else {%>
            <span class="spanBox"></span>
            <span class="cls_006">Yes</span>
            <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
            <span class="cls_006">No</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 56.17px; top: 367.6px" class="cls_006">
        <span class="cls_006">vi) Test conducted to establish this (if yes, attach report)</span>
      </div>
      <div style="position: absolute; left: 470.67px; top: 367.6px" class="cls_006">
        <% if(patientDetailsReleventClinicAccidentTestConducted){ %>
          <span class="spanBox"> <img height="9px" src="/tick.png" width="9px" /></span>
          <span class="cls_006">Yes</span>
          <span class="spanBox"></span>
          <span class="cls_006">No</span>
          <% }else {%>
            <span class="spanBox"></span>
            <span class="cls_006">Yes</span>
            <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
            <span class="cls_006">No</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 43.42px; top: 386.57px" class="cls_006">
        <span class="cls_006">M) In case of Matenity</span>
      </div>
      <div style="position: absolute; left: 192.17px; top: 386.57px" class="cls_006">
        <% if(patientDetailsReleventClinicMaternityMaternity.includes('G')){ %>
          <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
          <span class="cls_006">G</span>
          <%} else {%>
            <span class="spanBox"></span>
            <span class="cls_006">G</span>
            <%} %>
              <% if(patientDetailsReleventClinicMaternityMaternity.includes('P')){ %>
                <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
                <span class="cls_006">P</span>
                <%} else {%>
                  <span class="spanBox"></span>
                  <span class="cls_006">P</span>
                  <%} %>
                    <% if(patientDetailsReleventClinicMaternityMaternity.includes('L')){%>
                      <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
                      <span class="cls_006">L</span>
                      <% }else{ %>
                        <span class="spanBox"></span>
                        <span class="cls_006">L</span>
                        <% } %>
                          <% if(patientDetailsReleventClinicMaternityMaternity.includes('A')){%>
                            <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
                            <span class="cls_006">A</span>
                            <% }else{ %>
                              <span class="spanBox"></span>
                              <span class="cls_006">A</span>
                              <% } %>
      </div>
      <div style="position: absolute; left: 70.61px; top: 405.55px" class="cls_006">
        <span class="cls_006">expected date of Delivery</span>
      </div>
      <div style="position: absolute; left: 470.69px; top: 404.12px" class="cls_007">
        <span class="cls_006">
          <%-patientDetailsReleventClinicMaternityExpectedDateOfDelivery%>
        </span>
      </div>
      <div style="position: absolute; left: 32.17px; top: 443.93px" class="cls_002">
        <span class="cls_002" style="font-weight: bold">Details of patient admitted</span>
      </div>
      <div style="height: 12px; background: #ff8e8e; margin-top: 443px"></div>
      <div style="position: absolute; left: 43.42px; top: 463.4px" class="cls_006">
        <span class="cls_006">a) Date of admission</span>
      </div>
      <div style="position: absolute; left: 276.07px; top: 463.65px" class="cls_007">
        <span class="cls_006">
          <%-hospitalDetailsDateOfAdmission%>
      </div>
      <div style="position: absolute; left: 43.42px; top: 482.38px" class="cls_006">
        <span class="cls_006">b) Time of admission</span>
      </div>
      <div style="position: absolute; left: 276.07px; top: 481.73px" class="cls_007">
        <span class="cls_006">
          <%-hospitalDetailsTimeOfAdmission%>
        </span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 501.35px" class="cls_006">
        <span class="cls_006">c) Is this an emergency/planned hospitalization event:</span>
      </div>
      <div style="position: absolute; left: 422.47px; top: 501.35px" class="cls_006">
        <% if(hospitalDetailsEmergencyOrPlannedEvent.toUpperCase()==="EMERGENCY" ) {%>
          <span class="spanBox"> <img height="9px" src="/tick.png" width="9px" /></span>
          <span class="cls_006">Emergency</span>
          <span class="spanBox"></span>
          <span class="cls_006">Planned</span>
          <% }else {%>
            <span class="spanBox"></span>
            <span class="cls_006">Emergency</span>
            <span class="spanBox"><img height="9px" src="/tick.png" width="9px" /></span>
            <span class="cls_006">Planned</span>
            <% } %>
      </div>
      <div style="position: absolute; left: 43.42px; top: 520.33px" class="cls_006">
        <span class="cls_006">d) Mandatory Past History of any chronic illness</span>
      </div>
      <div style="position: absolute; left: 340.67px; top: 520.22px" class="cls_006">
        <span class="cls_006">If yes (Since month/year)
          <span class="spanLine" style="width: 195px"></span></span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 540px" class="cls_006">
        <span class="cls_006">i) Diabetes </span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 540px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px">
            <span class="cls_006">
              <%-hospitalDetailsAnyPastHistoryDiabetesMonth%>/<%-hospitalDetailsAnyPastHistoryDiabetesYear%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 56.16px; top: 570px" class="cls_006">
        <span class="cls_006">ii) Heart disease </span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 570px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsAnyPastHistoryHeartDiseaseMonth%>/<%-hospitalDetailsAnyPastHistoryHeartDiseaseYear%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 56.16px; top: 600px" class="cls_006">
        <span class="cls_006">iii) Hypertension </span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 600px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsAnyPastHistoryHypertensionMonth%>/<%-hospitalDetailsAnyPastHistoryHypertensionYear%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 56.16px; top: 630px" class="cls_006">
        <span class="cls_006">iv) Hyperlipidemias </span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 630px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsAnyPastHistoryHyperlipidemiasMonth%>/
                <%-hospitalDetailsAnyPastHistoryHyperlipidemiasYear%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 56.16px; top: 660px" class="cls_006">
        <span class="cls_006">v) Osteoarthritis </span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 660px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsAnyPastHistoryOsteoarthritisMonth%>/<%-hospitalDetailsAnyPastHistoryOsteoarthritisYear%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 56.16px; top: 690px" class="cls_006">
        <span class="cls_006">vi) Asthma./COPD/Bronchitis</span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 690px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px">
            <span class="cls_006">
              <%-hospitalDetailsAnyPastHistoryAsthmaCOPDBronchitisMonth%>/
                <%-hospitalDetailsAnyPastHistoryAsthmaCOPDBronchitisYear%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 56.16px; top: 720px" class="cls_006">
        <span class="cls_006">vii) Cancer</span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 720px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsAnyPastHistoryCancerMonth%>/<%-hospitalDetailsAnyPastHistoryCancerYear%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 56.16px; top: 750px" class="cls_006">
        <span class="cls_006">viii)Alcohol/Drug abuse </span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 750px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px">
            <span class="cls_006">
              <%-hospitalDetailsAnyPastHistoryAlcoholDragAbuseMonth%>/
                <%-hospitalDetailsAnyPastHistoryAlcoholDragAbuseYear%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 56.16px; top: 780px" class="cls_006">
        <span class="cls_006">ix) Any HIV/ or STD Related ailment</span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 780px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px">
            <span class="cls_006">
              <%-hospitalDetailsAnyPastHistoryAnyHIVOrAilmentsMonth%>/
                <%-hospitalDetailsAnyPastHistoryAnyHIVOrAilmentsYear%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 56.16px; top: 810px" class="cls_006">
        <span class="cls_006">x) Any other ailment, give details</span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 810px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px">
            <span class="cls_006">
              <%-hospitalDetailsAnyPastHistoryAnyOtherAilments%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.41px; top: 840px" class="cls_006">
        <span class="cls_006">e) Expected number of Days/stay in hospital</span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 840px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px">
            <%-hospitalDetailsDaysInHospital%>
          </span>
          Days</span>
      </div>
      <div style="position: absolute; left: 43.41px; top: 870px" class="cls_006">
        <span class="cls_006">f) Days in ICU</span>
      </div>
      <div style="position: absolute; left: 430.66px; top: 870px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">

              <%-hospitalDetailsDaysInICU%>
            </span></span>
          Days</span>
      </div>
      <div style="position: absolute; left: 43.41px; top: 900px" class="cls_006">
        <span class="cls_006">g) Room Type</span>
      </div>
      <div style="position: absolute; left: 430.65px; top: 900px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 197px"><span class="cls_006">

              <%-hospitalDetailsRoomType%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.4px; top: 930px" class="cls_006">
        <span class="cls_006">h) Per day room rent+nursing and service charges+ patients
          diet</span>
      </div>
      <div style="position: absolute; left: 430.96px; top: 930px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsChargeListPerDayRoomRent + hospitalDetailsChargeListNursing%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.4px; top: 960px" class="cls_006">
        <span class="cls_006">i) Expected cost ofinvestigation + diagnostic</span>
      </div>
      <div style="position: absolute; left: 430.95px; top: 960px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsChargeListCostOfInvestigation%>
            </span></span></span>
      </div>
    </div>
    <div style="
          position: absolute;
          left: 43%;
          margin-left: -297px;
          top: 2210px;
          width: 720px;
          height: 1040px;
          border-style: outset;
          overflow: hidden;
        ">
      <div style="position: absolute; left: 0px; top: 0px"></div>
      <div style="position: absolute; left: 43.43px; top: 26.06px" class="cls_006">
        <span class="cls_006">j) ICU charges</span>
      </div>
      <div style="position: absolute; left: 489.66px; top: 26.06px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsChargeListIcuCharges%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.43px; top: 45.04px" class="cls_006">
        <span class="cls_006">k) OT charges</span>
      </div>
      <div style="position: absolute; left: 489.66px; top: 45.04px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsChargeListOtCharges%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 60.01px" class="cls_006">
        <span class="cls_006">l) Professional fees Surgeon + Anesthetist Fees + consultation
          Charges
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              &nbsp;&nbsp;&nbsp;
              <%-hospitalDetailsChargeListProfessionalFeesSurgeon+hospitalDetailsChargeListAnesthetist%>
                </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 78.99px" class="cls_006">
        <span class="cls_006">m) Medicines + Consumables + Cost of Implants (if applicable please
          specify)&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="spanLine" style="width: 195px"><span class="cls_006">&nbsp;&nbsp;&nbsp;
              <%-hospitalDetailsChargeListCostOfImplant+hospitalDetailsChargeListConsumables%></span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 101.96px" class="cls_006">
        <span class="cls_006">n) Other hospital expenses if any</span>
      </div>
      <div style="position: absolute; left: 489.66px; top: 101.96px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsChargeListOtherHospitalIfAny%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 120.94px" class="cls_006">
        <span class="cls_006">o) All-inclusive package charges if any applicable</span>
      </div>
      <div style="position: absolute; left: 489.66px; top: 120.94px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsChargeListAllIncludingPackage%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.42px; top: 139.91px" class="cls_006">
        <span class="cls_006">p) Sum Total expected cost of hospitalization</span>
      </div>
      <div style="position: absolute; left: 489.66px; top: 139.91px" class="cls_006">
        <span class="cls_006">
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              <%-hospitalDetailsTotal%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 32.17px; top: 175.77px" class="cls_002">
        <span class="cls_002" style="font-weight: bold">DECLARATION (Please read very carefully)</span>
      </div>
      <div style="height: 12px; background: #ff8e8e; margin-top: 176px"></div>
      <div style="position: absolute; left: 43.42px; top: 197.77px" class="cls_006">
        <span class="cls_006">we confirm having read understood and agreed to the Declarations of
          this form</span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 224px" class="cls_006">
        <span class="cls_006">Name of the treating doctor
          <span class="spanLine" style="width: 400px">
            <span class="cls_006">&nbsp;&nbsp;&nbsp;
              <%-hospitalDetailsDoctorDetailsName%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 254.72px" class="cls_006">
        <span class="cls_006">Qualification:
          <span class="spanLine" style="width: 450px">
            <span class="cls_006">&nbsp;&nbsp;&nbsp; <%-hospitalDetailsDoctorDetailsQualification%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 56.17px; top: 294.69px" class="cls_006">
        <span class="cls_006">Registration number with State code
          <span class="spanLine" style="width: 380px">
            <span class="cls_006">&nbsp;&nbsp;&nbsp; <%-hospitalDetailsDoctorDetailsRegistrationNo%>
            </span>
          </span></span>
      </div>
      <div style="position: absolute; left: 43.43px; top: 328.65px" class="cls_006">
        <span class="cls_006">Hospital Seal</span>
      </div>
      <div style="position: absolute; left: 370.18px; top: 332.65px" class="cls_006">
        <span class="cls_006">Patient/lnsured Name and Sign</span>
      </div>
      <div style="position: absolute; left: 43.43px; top: 342.66px" class="cls_006">
        <span class="cls_006">(Must include Hospital ID)</span>
      </div>
      <div style="position: absolute; left: 32.18px; top: 362px" class="cls_002">
        <span class="cls_002" style="font-weight: bold">
          Declaration by the patient / representative</span>
      </div>
      <div style="height: 12px; background: #ff8e8e; margin-top: 174px"></div>
      <div style="position: absolute; left: 32.18px; top: 380px" class="cls_006">
        <span class="cls_006">a) I agree to allow the hospital to submit all original documents
          pertaining to hospitalization to the Insurer/T.P.A after the
          discharge. I agree to sign on the Final Bill & the Discharge
          Summary, before my discharge.</span>
      </div>

      <div style="position: absolute; left: 32.18px; top: 410px" class="cls_006">
        <span class="cls_006">b) Payment to hospital is governed by the terms and conditions of
          the policy. In case the lnsurer / TPA is not liable to settle the
          hospital bill, I undertake to settle the bill as per the terms and
          conditions of the policy.</span>
      </div>

      <div style="position: absolute; left: 32.17px; top: 445px" class="cls_006">
        <span class="cls_006">c) All non-medical expenses and expenses not relevant to current
          hospitalization and the amounts over & above the limit authorized by
          the Insurer/T.P.A not govemed by the terms and conditions ofthe
          policy will be paid by me.</span>
      </div>

      <div style="position: absolute; left: 32.17px; top: 490px" class="cls_006">
        <span class="cls_006">d) I hereby declare to abide by the terms and conditions ofthe
          policy and if at any time the facts disclosed by me are found to be
          false or incorrect I forfeit my claim and agree to indemnify the
          tnsurer / T.P.A
        </span>
      </div>

      <div style="position: absolute; left: 32.17px; top: 535px" class="cls_006">
        <span class="cls_006">e) I agree and understand thatT.P.A is in no way warranting the
          service of the hospital & that the Insurer / TPA is in no way
          guaranteeing that the services provided by the hospital will be ofa
          particular quality or standard.</span>
      </div>

      <div style="position: absolute; left: 32.17px; top: 580px" class="cls_006">
        <span class="cls_006">f) I hereby warrant the truth ofthe forgoing particulars in every
          respect and I agree that if I have made or shall make any false or
          untrue statement, suppression or concalment with respect to the
          claim, my right to claim reimbursement of the said expenses shall be
          absolutely forfeited.</span>
      </div>

      <div style="position: absolute; left: 32.17px; top: 640px" class="cls_006">
        <span class="cls_006">g) I agree to indemnifo the hospital against all expenses incurred
          on my behalf, which are not reimbursed by the Insurer / TPA.</span>
      </div>
      <div style="position: absolute; left: 32.17px; top: 670px" class="cls_006">
        <span class="cls_006">h) I/We authorize Insurance Company/TPA to contact me/us through
          mobile/email for any update on this claim.</span>
      </div>
      <div style="position: absolute; left: 43.41px; top: 690px" class="cls_006">
        <span class="cls_006">a) Patient's / Insured's Name
          <span class="spanLine" style="width: 400px"><span class="cls_006">
              &nbsp;&nbsp;&nbsp;<%-patientDetailsName%>
            </span></span></span>
      </div>
      <div style="position: absolute; left: 43.41px; top: 720px" class="cls_006">
        <span class="cls_006">b) Contact number
          <span class="spanLine" style="width: 195px"><span class="cls_006">
              &nbsp;&nbsp;&nbsp;
            </span></span>
          c) e-mail Id (optional)
          <span class="spanLine" style="width: 180px"><span class="cls_006">
              &nbsp;&nbsp;&nbsp;
            </span>
            <%-patientDetailsContactNumber%>
          </span></span>
      </div>
      <div style="position: absolute; left: 43.41px; top: 750px" class="cls_006">
        <span class="cls_006">d) Patient's / Insured's Signature
          <span class="spanLine" style="width: 195px"></span></span>
      </div>
      <div style="position: absolute; left: 43.41px; top: 780px" class="cls_006">
        <span class="cls_006">Date:</span>
      </div>
      <div style="position: absolute; left: 71.91px; top: 780px" class="cls_007">
        <span class="cls_007">D</span>
      </div>
      <div style="position: absolute; left: 84.28px; top: 780px" class="cls_007">
        <span class="cls_007">D</span>
      </div>
      <div style="position: absolute; left: 95.92px; top: 780px" class="cls_007">
        <span class="cls_007">M</span>
      </div>
      <div style="position: absolute; left: 108.29px; top: 780px" class="cls_007">
        <span class="cls_007">M</span>
      </div>
      <div style="position: absolute; left: 122.05px; top: 780px" class="cls_007">
        <span class="cls_007">Y</span>
      </div>
      <div style="position: absolute; left: 134.41px; top: 780px" class="cls_007">
        <span class="cls_007">Y</span>
      </div>
      <div style="position: absolute; left: 146.78px; top: 780px" class="cls_007">
        <span class="cls_007">Y</span>
      </div>
      <div style="position: absolute; left: 159.14px; top: 780px" class="cls_007">
        <span class="cls_007">Y</span>
      </div>
      <div style="position: absolute; left: 192.16px; top: 780px" class="cls_006">
        <span class="cls_006">Time:</span>
      </div>
      <div style="position: absolute; left: 221.43px; top: 780px" class="cls_007">
        <span class="cls_007">H</span>
      </div>
      <div style="position: absolute; left: 233.8px; top: 780px" class="cls_007">
        <span class="cls_007">H</span>
      </div>
      <div style="position: absolute; left: 245.44px; top: 780px" class="cls_007">
        <span class="cls_007">M</span>
      </div>
      <div style="position: absolute; left: 257.8px; top: 780px" class="cls_007">
        <span class="cls_007">M</span>
      </div>
      <div style="position: absolute; left: 32.18px; top: 810px" class="cls_002">
        <span class="cls_002" style="font-weight: bold">Hospital declaration</span>
      </div>
      <div style="height: 12px; background: #ff8e8e; margin-top: 435px"></div>
      <div style="position: absolute; left: 32.18px; top: 860px" class="cls_006">
        <span class="cls_006">a) We have no objection to any authorized TPA / Insurance Company
          official verifying documents pertaining to hospitalization.</span>
      </div>
      <div style="position: absolute; left: 32.18px; top: 900px" class="cls_006">
        <span class="cls_006">b) All valid original documents duly countersigned by the insured /
          patient as per the checklist below will be sent to TpA / lnsurance
          Company within 7 days of the patient,s discharge.</span>
      </div>

      <div style="position: absolute; left: 32.18px; top: 950px" class="cls_006">
        <span class="cls_006">c) we agree that TPA / Insurance Company will not be Iiable to make
          the payment in the event of any discrepancy between the facts in
          this form and discharge summary or other documents.</span>
      </div>
    </div>
    <div style="
          position: absolute;
          left: 43%;
          margin-left: -297px;
          top: 3290px;
          width: 720px;
          height: 1040px;
          border-style: outset;
          overflow: hidden;
        ">
      <div style="position: absolute; left: 0px; top: 0px"></div>
      <div style="position: absolute; left: 32.18px; top: 27.85px" class="cls_006">
        <span class="cls_006">d) The patient declaration has been signed by the patient or by his
          representative in our presence.</span>
      </div>
      <div style="position: absolute; left: 32.18px; top: 46.82px" class="cls_006">
        <span class="cls_006">e) we agree to provide clarifications for the queries raised
          regarding this hospitalization and we take responsibility the sole
          for any delay in offering clarifications.</span>
      </div>

      <div style="position: absolute; left: 32.17px; top: 78.81px" class="cls_006">
        <span class="cls_006">f) We will abide by the terms and conditions agreed in the
          MOU.</span>
      </div>
      <div style="position: absolute; left: 32.17px; top: 94.78px" class="cls_006">
        <span class="cls_006">g) We confirm that no additional amount would be collected liom the
          insured in excess of Agreed Package Rates except costs towards non-
          admissible amounts (including additional charges due to opting
          higher room rent than eligibility choosing separate line of
          treatment which is not envisaged/considered in package).</span>
      </div>

      <div style="position: absolute; left: 32.17px; top: 149.78px" class="cls_006">
        <span class="cls_006">h) We confirm that no recoveries would be made from the dposit
          amount collected from the lnsured except for costs towards
          non-admissible amounts (including additional charges due to opting
          higher room rent than eligibility/choosing separate line of
          treatment which is not envisaged/considered in package).</span>
      </div>

      <div style="position: absolute; left: 32.17px; top: 203.78px" class="cls_006">
        <span class="cls_006">i) In the event of unauthorized recovery of any additional amount
          from the Insured in excess of Agreed Package Rates, the adhorized
          TPA / Insurance Company reserves the right to recover the same from
          us (the Network Provider) and/or take necessary action, as provided
          under the MoU or applicable laws.</span>
      </div>

      <div style="position: absolute; left: 43.42px; top: 260.73px" class="cls_006">
        <span class="cls_006">Hospital Seal</span>
      </div>
      <div style="position: absolute; left: 395.17px; top: 260.73px" class="cls_006">
        <span class="cls_006">Doctor's Signature</span>
      </div>
      <div style="position: absolute; left: 32.42px; top: 278.7px" class="cls_006">
        <span class="cls_006">Date:</span>
      </div>
      <div style="position: absolute; left: 71.91px; top: 282.13px" class="cls_007">
        <span class="cls_007">D</span>
      </div>
      <div style="position: absolute; left: 84.28px; top: 282.13px" class="cls_007">
        <span class="cls_007">D</span>
      </div>
      <div style="position: absolute; left: 95.92px; top: 282.13px" class="cls_007">
        <span class="cls_007">M</span>
      </div>
      <div style="position: absolute; left: 108.29px; top: 282.13px" class="cls_007">
        <span class="cls_007">M</span>
      </div>
      <div style="position: absolute; left: 122.05px; top: 282.13px" class="cls_007">
        <span class="cls_007">Y</span>
      </div>
      <div style="position: absolute; left: 134.41px; top: 282.13px" class="cls_007">
        <span class="cls_007">Y</span>
      </div>
      <div style="position: absolute; left: 146.78px; top: 282.13px" class="cls_007">
        <span class="cls_007">Y</span>
      </div>
      <div style="position: absolute; left: 159.14px; top: 282.13px" class="cls_007">
        <span class="cls_007">Y</span>
      </div>
      <div style="position: absolute; left: 32.42px; top: 297px" class="cls_006">
        <span class="cls_006">Time:</span>
      </div>
      <div style="position: absolute; left: 71.91px; top: 300px" class="cls_007">
        <span class="cls_007">H</span>
      </div>
      <div style="position: absolute; left: 84.28px; top: 300px" class="cls_007">
        <span class="cls_007">H</span>
      </div>
      <div style="position: absolute; left: 95.92px; top: 300px" class="cls_007">
        <span class="cls_007">M</span>
      </div>
      <div style="position: absolute; left: 108.29px; top: 300px" class="cls_007">
        <span class="cls_007">M</span>
      </div>
      <div style="position: absolute; left: 8.5px; top: 800px" class="cls_010">
        <span class="cls_010">Aditya Birla Health Insurance Co. Limited. IRDAI Reg.153.</span><span class="cls_011"> CIN
          No. U66000MH2015PLC263677.</span>
      </div>
      <div style="position: absolute; left: 8.5px; top: 808px" class="cls_011">
        <span class="cls_011">Product Name: Activ Care, Product UIN: ADIHLIP20001V011920.</span>
      </div>
      <div style="position: absolute; left: 8.5px; top: 816px" class="cls_011">
        <span class="cls_011">Address: 9th Floor, Tower 1, One Indiabulls Centre, Jupiter Mills
          Compound, 841, Senapati Bapat Marg, Elphinstone</span>
      </div>
      <div style="position: absolute; left: 368.33px; top: 824px" class="cls_012">
        <span class="cls_012">Contact us:</span>
      </div>
      <div style="position: absolute; left: 8.5px; top: 832px" class="cls_011">
        <span class="cls_011">Road, Mumbai 400013. Email:
          care.healthinsurance@adityabirlacapital.com, Website:
          adityabirlahealthinsurance.com,</span>
      </div>
      <div style="position: absolute; left: 368.33px; top: 840px" class="cls_012">
        <span class="cls_012">1800 270 7000</span>
      </div>
      <div style="position: absolute; left: 8.5px; top: 848px" class="cls_011">
        <span class="cls_011">Telephone: 1800 270 7000, Fax: +91 22 6225 7700. Trademark/Logo
          Aditya Birla Capital logo is owned by Aditya Birla</span>
      </div>
      <div style="position: absolute; left: 8.5px; top: 856px" class="cls_011">
        <span class="cls_011">Management Corporation Private Limited and is used by Aditya Birla
          Health Insurance Co. Limited under licensed user</span>
      </div>
      <div style="position: absolute; left: 8.5px; top: 864px" class="cls_011">
        <span class="cls_011">agreement(s).</span>
      </div>
      <div style="position: absolute; left: 452.5px; top: 824px" class="cls_011">
        <img src="/aditya_birla/background4.jpg" width="93%%" alt="" srcset="" />
      </div>
    </div>
  </div>
  <script>
    function plzDown() {
      var element = document.getElementById("invoice");
      html2pdf(element, {
        margin: 4,
        filename: "ADITYA_BIRLA.pdf",
        image: { type: "jpeg", quality: 0.98 },
        html2canvas: {
          scale: 2,
          logging: true,
          dpi: 192,
          letterRendering: true,
        },
        jsPDF: { unit: "mm", format: "a4", orientation: "portrait" },
      });
    }
  </script>
</body>

</html>